<%- include('home'); %>
<style>
    .check-email-to-reset-password {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }
    h3 {
        color: gray;
    }
</style>

<div class="check-email-to-reset-password">
    <h3>Please! Check Email To Reset Your Password.</h3>
</div>