<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verified</title>
</head>
<body>
    <h3>Your email has been verified.</h3>
    <h5><a href="/signin">Signin</a></h5>
</body>
</html>