<link rel="stylesheet" href="/css/forget-password.css">

<%- 
    include('home');
%>
<div class="reset-password">
    <h2>Reset Password</h2>
    <form action="" method="post">
        <div class="password">
            <input type="password" name="password" placeholder="Enter New Password">
        </div>
        <input type="hidden" name="user_id" value="<%= user_id %>">
        <div class="submit">
            <input type="submit" value="Reset Password">
        </div>
    </form>
</div>