.reset-password {
    border: 1px solid rgb(215, 215, 215);
    width: 400px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
}

h2 {
    color: gray;
}

.password {
    margin-bottom: 1rem;
}
.password input {
    padding: 0.5rem 1rem;
    width: 300px;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 3px;
}

.submit input {
    color: #fff;
    background-color: #015f78;
    font-size: 1rem;
    padding: 0.5rem;
    width: 100%;
    border: none;
    border-radius: 3px;
}

.submit input:hover {
    opacity: 0.7;
    cursor: pointer;
}